# Server
SERVER_HOST=0.0.0.0
SERVER_PORT=16010

# Client
CLIENT_HOST=0.0.0.0
CLIENT_PORT=16011
CLIENT_PREVIEW_PORT=16012

# Client -> server proxy target for local development
API_PROXY_HOST=127.0.0.1
API_PROXY_PORT=16010
